body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000;
}
.header {
  padding-top: 10%;
  padding-left: 10%;
  color: #3498db;
}
.text {
  align-items: center;
  padding-top: 0.5%;
  text-align: justify;
  margin: 0 10% 0 10%;
  font-family: "Georgia", Times New Roman, Times, serif;
  line-height: 200%;
  color: #ffffff;
}
