html,
body {
  scroll-behavior: smooth;
  font-family: Arial, "Helvetica", sans-serif;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
.highlight {
  color: #ffffff;
  font-size: 140%;
  text-align: center;
  font-family: "Tomorrow", sans-serif;
  padding: 2.5%;
}
.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #3498db;
}
.list-bar {
  color: #ffffff;
  text-align: center;
  position: absolute;
  letter-spacing: 5px;
  overflow: hidden;
}
.home-nav {
  color: #ffffff;
  font-size: 26px;
  font-family: "Nunito Sans", sans-serif;
  position: absolute;
  left: 6%;
}
.home-nav:hover {
  color: #000;
}
.menu {
  position: relative;
  top: 10%;
  left: 35%;
}
.menu-two {
  position: relative;
  top: 10%;
  left: 55%;
}
.dropbtn {
  background-color: #3498db;
  color: #000;
  font-size: 18px;
  border: none;
  font-family: "Nunito Sans", sans-serif;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  font-family: "Tomorrow", sans-serif;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #3498db;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #ffffff;
}
